* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

body {
    position: relative;
}
.modal-window {
    width: 100%;
    height: 100vh;
    background-color: grey;
    position: absolute;
    padding: 30% 10%;
    display: flex;
    flex-direction: column;
}

.modal-window>div {
    background-color: #ffffff;
    border: 1px solid black;
    padding: 30px;
    text-align: center;
    font-size: 16px;
}

.modal-window-message{
    margin-bottom: 30px;
}

.modal-window-btn {
    /* margin-top: 20px; */
    padding: 20px;
    width: 120px;
    margin: auto;
    font-size: 20px;
}

.container {
    max-width: 1200px;
    /* height: 100vh; */
    margin: auto;
}

.indicators,
.actions {
    display: flex;
    justify-content: space-between;
    padding: 0 0 10px 0;
    /* border: 1px solid red; */
}
.indicators div {
    padding: 0 10px;
    border: 1px solid red;
    font-size: 6px;
}

.health,
.hunger,
.thirst,
.radiation {
    display: flex;
}

.block-1, 
.block-2 {
    /* height: 40vh; */
}

.img {
    width: 80%;
    height: 30vh;
    border: 1px solid red;
    overflow: hidden;
    margin: auto;
    /* background: url(/img/fon/house0.jpg) center center/cover no-repeat; */
    margin-bottom: 10px;
}

.info {
    width: 80%;
    height: 140px;
    margin: auto;
    text-align: center;
    border: 1px solid red;
    font-size: 12px;
    margin-bottom: 10px;
}

.actions-btn {
    width: 30%;
    padding: 10px;
    border: 1px solid red;
}

.details {
    display: flex;
    justify-content: space-between;
    border: 1px solid red;
    margin-bottom: 10px;
    padding: 4px;
}

.details div {
    display: flex;
    border: 1px solid red;
    padding: 4px;
    width: 24%;
    font-size: 8px;
}

.inventory {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;

}

.backpack {
    width: 66%;
    border: 1px solid red;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}


.backpack-item {
    width: 40px;
    height: 40px;
    border: 1px solid red;
    margin: 5px;
}

.backpack img {
    padding: 2px;
}

.equipment {
    width: 33%;
    border: 1px solid red;
    display: flex;
    flex-wrap: wrap;
    font-size: 10px;
}
.equipment div {
    width: 40px;
    height: 40px;
    border: 1px solid red;
    margin: 5px;
}

.backpack-buttons {
    border: 1px solid red;
    margin-bottom: 10px;
    padding: 5px 0;
    display: flex;
    justify-content: space-around;
}

.event-log {
    width: 100%;
    height: 20vh;
    border: 1px solid red;
    padding: 5px;
    overflow: hidden;
}

.event-log p {
    font-size: 12px;
}

.backpack .selected, 
.equipment .selected {
    border: 3px solid red;
}

.hidden {
    display: none;
}

h1 {
    font-size: 50px;
}
p {
    /* font-size: 30px; */
}

