* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 400;
}

body {
    position: relative;
    height: 100vh;
    /* border: 1px solid black; */
    background-color: #383838;
}

.modal-window {
    width: 100%;
    height: 100vh;
    background-color: grey;
    position: absolute;
    padding: 30% 10% 30% 10%;
    /* display: flex; */
    /* flex-direction: column; */
    background: url(../img/fon/start-modal-2.png);
    background-size: 100% 100%;
}

.modal-window > div {
    padding: 5px 15px 5px 30px;
    text-align: center;
    font-size: 16px;
}

.modal-window-message {
    margin-bottom: 250px;
    color: #3a981c;
    padding: 20px 15px;
}

.modal-window-btn {
    border: none;
    border-radius: 6px;
    margin: auto;

}

.container {
    max-width: 1200px;
    margin: auto;
}

.img {
    /* width: 90%; */
    height: 24vh;
    /* border: 1px solid red; */
    overflow: hidden;
    margin: auto;
    border-radius: 5%;
    /* margin-bottom: 10px; */
}

.indicators-box {
    width: 100%;
    margin: auto;
    display: flex;
    /* padding: 5px 0; */
}

.indicators {
    width: 50%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.indicators div {
    height: 3vh;
    align-items: center;
}

.health,
.hunger,
.thirst,
.radiation {
    display: flex;
    justify-content: center;
    background: url(../img/img-fon.png) center no-repeat;
    background-size: 100% 100%;
    color: #3a981c;
}

.indicators p {
    font-weight: bold;
    /* font-size: 10px; */
}

.actions {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.equipment {
    display: flex;
    flex-wrap: wrap;
    font-size: 10px;
}

.equipment div {
    width: 20%;
    height: 7vh;
    background: url(../img/euq-item-fon.png) center no-repeat;
    background-size: 100% 100%;
    color: #3a981c;
    font-size: 10px;
    padding: 15px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.block-2,
.block-3 {
    height: 47vh;
}

.img-fon {
    background: url(../img/img-fon.png) center no-repeat;
    background-size: 100% 100%;
    padding: 1% 4%;
}

.info {
    /* width: 96%; */
    height: 39vh;
    margin: auto;
    padding: 25px 30px;
    /* border: 1px solid red; */
    font-size: 12px;
    /* margin-bottom: 10px; */
    background: url(../img/fon/magazine.jpg) center no-repeat;
    background-size: 100% 100%;
    color: #3a981c;
}

.actions-btn {
    height: 8vh;
    width: 50%;
    padding: 10px;
    /* border: 1px solid red; */
    background: url(../img/action-btn.png) center no-repeat;
    background-size: 100% 100%;
    font-size: 18px;
    font-weight: bold;
    color: #e4d80c;
}

.details {
    height: 4vh;
    display: flex;
    justify-content: space-between;
    /* margin-bottom: 10px; */
}

.details div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* border: 1px solid red; */
    padding: 0 2px;
    width: 24%;
    font-size: 8px;
    background: url(../img/details-fon.png) center no-repeat;
    background-size: 100% 100%;
}

.details p {
    font-size: 10px;
    font-weight: bold;
    color: #3a981c;
}

.inventory {
    display: flex;
    flex-direction: column;
    /* align-items: flex-start; */
    /* justify-content: start; */
    /* margin-bottom: 10px; */
}

.backpack {
    height: 35vh;
    /* padding: 5px; */
    /* border: 1px solid red; */
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}

.backpack-item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    /* height: 7vh; */
    height: 20%;
    /* border: 1px solid red; */
    /* margin: 5px; */
    background: url(../img/backpack-item-fon-2.png) center no-repeat;
    background-size: 100% 100%;
}

.close img {
}

.backpack img {
    /* padding: 10px; */
    width: 75%;
    height: 75%;
}

.backpack-buttons {
    /* border: 1px solid red; */
    /* margin-bottom: 10px; */
    /* padding: 5px 0; */
    display: flex;
    /* justify-content: space-around; */
}

.backpack-buttons > button {
    width: 33.3%;
    /* padding: 2px; */
}

.event-log {
    width: 100%;
    height: 13vh;
    /* border: 1px solid red; */
    padding: 5px;
    overflow: hidden;
}

.event-log p {
    font-size: 12px;
}

.backpack .selected,
.equipment .selected {
    border: 3px solid black;
}

.menu-buttons {
    display: flex;
    justify-content: space-between;
    /* max-width: 100%; */
}

.menu-btn {
    font-size: 16px;
    width: 20%;
    height: 8vh;
    background: url(../img/menu-btn-2.png) center no-repeat;
    background-size: 100% 100%;
    padding: 10px 5px 2px 5px;
}

.backpack-btn {
}

.menu-buttons > button > img {
    height: 80%;
}
.hidden {
    display: none;
}

h1 {
    font-size: 50px;
}
p {
    /* font-size: 30px; */
}
